:root {
    --transparent-white: rgba(255, 255, 255, 0.24);
    --blue: #007bff;
    --white: #ffffff;
}

.recipe-name,
.description {
    padding: 0.8rem 1.6rem;
}

.recipe {
    max-width: 20rem;
    margin: 0 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--transparent-white);
    border-radius: 1.2rem;
    background-color: #f0f0f000;
}

.recipe-name {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.img {
    width: 20rem;
    height: 15rem;
    margin-bottom: 1rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.315);
    object-fit: cover;
}

.description {
    margin-bottom: 0.6rem;
    text-align: left;
}

.button {
    margin: 0.8rem 1.6rem;
    margin-top: auto;
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}