.title,
.recipes-list-container {
    margin: 1rem 0;
    margin-bottom: 2;
}

.main-content {

    max-width: 140rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-left: 1.5rem 0;
}

.recipes-list-container {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

}

.pagination {
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--yellow);
}

.paginationItem,
.activePage,
.pagination a {
    padding: 1rem;
    background-color: var(--yellow);
    color: var(--dark);
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;
}


.paginationItem:hover,
.activePage:hover,
.pagination a:hover {
    background-color: var(--dark);
    color: var(--yellow);
    cursor: pointer;
}


.activePage {
    background-color: var(--dark);
    border-radius: 50%;
}


@media (max-width: 1250px) {

    .title,
    .recipes-list-container {
        padding: 0.2rem 2rem;
    }

    .pagination {
        padding: 0.5rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pagination a {
        margin: 0.5rem;
    }
}

@media (max-width: 992px) {

    .title,
    .recipes-list-container {
        padding: 0.2rem 1rem;
    }

    .pagination {
        padding: 0.5rem 0.75rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pagination a {
        margin: 0.5rem;
    }
}

@media (max-width: 450px) {

    .title,
    .recipes-list-container {
        padding: 0.2rem 0.5rem;
    }

    .pagination {
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pagination a {
        margin: 0.5rem;
    }
}