:root {
    --dark-vanilla-cream: #d3c6a2;
    --vanilla-cream: #f0e7d8;
    --transparent-white: rgba(255, 255, 255, 0.24);
    --green: #3aa757;
    --emerald: #2b8a4a;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.recipe-name,
.description {
    padding: 0.8rem 1.6rem;
}

.recipe {
    flex: 0 0 25rem;
    margin: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--transparent-white);
    border-radius: 1.2rem;
    background-color: var(--dark-vanilla-cream);
}

.recipe-name {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.img {
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.description {
    margin-bottom: 0.6rem;
    text-align: left;
}

.button {
    margin: 0.8rem 1.6rem;
    margin-top: auto;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--green);
    color: var(--vanilla-cream);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--emerald);
    color: var(--dark-vanilla-cream);
}
