.admin-navigation {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.admin-navigation-box {
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    margin: 1rem;
    padding: 1rem;
    width: 40%;
    text-align: center;
    background-color: rgb(52, 53, 67);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.3s;
}

.link:hover {
    color: black;
    background-color: white;
}