.ul {
    display: flex;
    width: auto;
    margin-left: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.li {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.choosen,
.li:hover {
    color: #77f091;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #92a78b;
}
