.header {
    width: 100%;
    position: sticky;
    position: fixed;
    top: 0;
    padding: 0.2rem 5rem;
    background-color: var(--vanilla-cream);
}

@media (max-width: 450px) {
    .header {
        padding: 0.2rem 2rem;
        padding-right: 1rem;
    }
}