.side-drawer-nav {
    display: none;
    height: 100%;
}

.nav-content {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 220%;
    display: flex;
    justify-content: flex-end;
}

.logo-link {
    width: 90%;
    height: 90%;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 30rem;
}

.logo {
    height: 100%;
}

.hamburger {
    padding: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--dark);
    background-color: var(--vanilla-cream);
    transition: color 0.3s;
}

.hamburger:hover {
    color: var(--green);
}

.bars {
    font-size: 4rem;
    background-color: var(--vanilla-cream);
}

.icon {
    background-color: red;
    color: blue;
}

.logo-text {
    margin-left: 1.5rem;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    text-align: center;
}

.hamburger {
    display: none;
}

@media (min-width: 992px) {
    .logo-text {
        font-size: 2.5rem;
    }
}

@media(max-width: 992px) {
    .side-drawer-nav {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media(max-width: 768px) {

    .nav-content {
        justify-content: space-between;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .logo-text {
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    .logo-link {
        width: 70%;
        height: 70%;
    }
}


@media(max-width: 450px) {
    .logo-text {
        font-size: 1.8rem;
    }

    .logo-link {
        width: 65%;
        height: 65%;
    }
}

@media(max-width: 330px) {
    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
    }

    .logo-text {
        font-size: 1.8rem;
        margin-left: 0;
    }

    .logo-link {
        width: 65%;
        height: 65%;
    }
}



@media(max-width: 250px) {


    .logo-text {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }

    .logo-link {
        width: 50%;
        height: 50%;
    }
}