.example {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
}

.preview {
    width: 30rem;
    height: 30rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.preview img {
    width: 30rem;
    height: 30rem;
    border-radius: 8px;
}

.info {
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    object-fit: cover;
}

.example button {
    background-color: var(--emerald);
    color: var(--vanilla-cream);
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1.4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.example button:hover {
    background-color: var(--green);
}


@media(max-width: 576px) {


    .example {
        text-align: left;
    }

    .preview {
        width: 15rem;
        height: 15rem;
    }

    .preview img {
        width: 15rem;
        height: 15rem;

    }
}

@media(max-width: 400px) {}