.content {
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1.5rem;
    background-color: var(--dark-vanilla-cream);
}

.header-title {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filter {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border: 1px solid var(--emerald);
    background-color: var(--emerald);
    color: var(--vanilla-cream);
    border-radius: 1.5rem;
    transition: 0.3s;
}

@media (max-width: 1250px) {
    .content {
        padding: 1rem;
    }
} 
