.content {
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--vanilla-cream);
    border-radius: 1.5rem;
}

.searcher {
    padding: 0 2rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}


.input {
    width: 50%;
    height: 4rem;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    border: 1px solid var(--dark);
}

.buttons {
    width: 100%;
    padding: 0 2rem 2rem;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    margin: 0 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--emerald);
    color: var(--vanilla-cream);
    border: none;
    border-radius: 0.8rem;
    padding: 0.7rem 1.4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--green);
}

.search-btn {
    background-color: var(--red);
    color: var(--vanilla-cream);
}

.search-btn:hover {
    background-color: var(--light-red);
    color: var(--vanilla-cream);
}

@media (max-width: 1250px) {

    .content {
        margin: 3rem;
    }
}

@media (max-width: 750px) {

    .searcher {
        padding: 0 1rem 1rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .buttons {
        width: 65%;
        padding: 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin: 0.5rem 0;
        width: 100%;
        font-size: 1.5rem;
    }

    .input {
        width: 100%;
    }

}

@media (max-width: 450px) {

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content {
        padding: 1rem;
        margin: 1rem;
    }
}