.add-filters {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50rem;
    height: 100%;
    border: 1px solid white;
    border-radius: 0.7rem;
    transition: transform 0.5s;
    transform: translateX(-50rem);
    overflow-y: auto;
}

.show-filters {
    transform: translateX(0rem);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: rgb(236, 233, 227);
}

.title {
    padding-left: 2rem;
}

.close-button {
    width: 6rem;
    height: 6rem;
    border: none;
    background: none;
    color: var(--gray-button);
    font-size: 4.4rem;
    cursor: pointer;
}

@media (max-width: 576px) {
    .add-filters {
        width: 100%;
    }
}