:root {
    --gray-button: #888;
    --black: #000000b7;
    --white: #f5f5f5;
    --bcg: #2A3038;
}

.add-filters {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50rem;
    height: 100%;
    border-radius: 0.7rem;
    background-color: var(--bcg);
    color: var(--white);
    transition: transform 0.5s;
    transform: translateX(-60rem);
    overflow-y: auto;
}

.show-filters {
    transform: translateX(0);
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: rgb(236, 233, 227);
}

.title {
    color: var(--black);
    padding-left: 2rem;
}

.close-button {
    width: 6rem;
    height: 6rem;
    border: none;
    background: none;
    color: var(--gray-button);
    font-size: 4.4rem;
    transition: color 0.3s;
    cursor: pointer;
}

.close-button:hover {
    color: var(--black);
}

.section {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(114, 108, 96);
}

.section-title {
    padding: 0 2rem;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 3rem;
}

.select {
    display: flex;
    flex-direction: column;
}

.select label {
    margin: 0.5rem 0;
}

@media (max-width: 576px) {
    .add-filters {
        width: 100%;
    }
}