.section {
    min-height: 85vh;
}

.user-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-title {
    margin: 2rem 0;
    text-align: center;
}

.user-profile {
    margin: 0 3rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 1.5rem;
}

.user-avatar {
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.user-data {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.user-detail {
    padding: 0.8rem;
}

.profile-button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 550px) {
    .user-profile {
        display: flex;
        flex-direction: column;
    }

    .user-avatar {
        padding: 0;
    }
}