.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 9rem;
    margin-bottom: 2rem;
    border: 1px solid var(--vanilla-cream);
    background-color: var(--dark-vanilla-cream);
}

.formGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    font-weight: bold;
}

.inputField,
.checkbox {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.checkbox {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.checkboxGroup {
    margin-bottom: 1rem;
}


.button {
    text-align: center;
    margin: 2rem 0;
    display: inline-block;
    background-color: var(--emerald);
    color: var(--vanilla-cream);
    border: none;
    border-radius: 0.8rem;
    padding: 0.7rem 1.4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2rem;
    width: 100%;
}

.button:hover {
    background-color: var(--green);
}

@media (max-width: 768px) {
    .form {
        padding: 20px;
    }
}