.section {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 5rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    border-radius: 1.5rem;
}

h2 {
    text-align: center;
}