@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --deep-teal: #43766C;
    --bronze: #7f6950;
    --rich-terracotta: #76453B;
    --darker-vanilla-cream: #EBEDD4;
    --vanilla-cream: #F8FAE5;
    --emerald: #1fb574;
    --red: #d94d4b;
    --dark-grey: #867052;
    --green: #2d8e69;
    --dark: #2d2d2d;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--dark-grey);
    color: black;
    font-family: "", sans-serif;
    font-size: 1.6rem;
}

html,
body,
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

.wrapper {
    flex: 1;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* animations */
.animation-right-enter {
    transform: translateX(100%);
}

.animation-right-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.animation-right-exit {
    transform: translateX(0%);
    opacity: 1;
}

.animation-right-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}