@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap');

:root {
    --deep-teal: #43766C;
    --bronze: #7f6950;
    --rich-terracotta: #76453B;
    --darker-vanilla-cream: #ecf0c7fe;
    --dark-vanilla-cream: #d3c6a2;
    --vanilla-cream: #F8FAE5;
    --emerald: #1fb574;
    --red: #d94d4b;
    --light-red: #673736;
    --dark-grey: #867052;
    --green: #2d8e69;
    --dark: #2d2d2d;
    --darker: #434343cd;
    --yellow: #ffdd00;
    --cocoa: #d0c9bea1;
    --color: rgba(65, 234, 150, 0.89);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--dark-grey);
    color: var(--dark);
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
}

html,
body,
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--vanilla-cream);
}

ul {
    list-style: none;
}

.wrapper {
    flex: 1;
}

.section {
    margin-top: 9rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-right-enter {
    transform: translateX(100%);
}

.animation-right-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.animation-right-exit {
    transform: translateX(0%);
    opacity: 1;
}

.animation-right-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}