.sign-up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 2.5rem;
    width: 60rem;
    /* background-color: #ffffff10; */
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.h2 {
    margin-top: 0;
}

.form-group {
    margin: 2rem 0;
    text-align: left;
}

.label {
    display: block;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

.error {
    /* color: rgba(253, 4, 4, 0.568); */
    visibility: hidden;
}

.show-error {
    visibility: inherit;
}

.button {
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    border-radius: 0.4rem;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    /* background-color: #0056b3; */
}
