.footer {

    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    margin: 0 15px;
    font-size: 14px;
}

.animation:hover {
    color: #4caf50;
}

@media(max-width: 450px) {
    .list {
        padding: 0;
        margin-left: 2rem;
        margin-right: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .element {
        margin: 1rem;
    }

}

@media(max-width: 250px) {
    .list {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}