:root {
    --dark-blue: #1B2B39;
    --gray: #3B4048;
}

.search {
    width: 100%;
    height: 17rem;
    padding: 0.2rem 5rem;
    background-color: var(--dark-blue);
}

.search-content {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.input {
    width: 50%;
    height: 4rem;
    padding: 1rem;
}

@media (max-width: 450px) {

    .title {
        font-size: 2rem;
    }

    .search {
        padding: 0.2rem 2rem;
    }

    .input {
        width: 100%;
    }
}